<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Event Management</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

  <header>
    <h1>Welcome to Event Manager</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/register/form">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
   
  <div class="div-hero-section" >
  <main class="hero-section">
  <img src="/images/banner5.webp" alt="Event Banner" class="hero-image" />
  <div class="hero-overlay">
    <h2>Discover & Register for Exciting Events</h2>
    <p>Stay up to date with the latest events happening near you.</p>
    <a href="/events" class="browse-button">Browse Events</a>
  </div>
</main>
</div>


  <footer>
    <p>&copy; 2025 Event Management</p>
  </footer>

</body>
</html>
